$color-negro-footer: #060503;
$color-negro: #0d0a07;
$color-gris-oscuro: #2F2F2F;
$color-gris: #7b7b7b;
$color-gris-claro: #AFAFAF;
$color-blanco: #e1e1e1;
$color-blanco-botones: #fff;
$color-blanco-fondo: #f8f9fa;
$color-verde-oscuro: #4B7E60;
$color-verde-claro: #5a9e74;

